.parent-wrapper {
  position: relative;
}

/* ===================== */
/* Mobile view CSS */
/* ====================== */
nav.nav-mobile {
  display: flex;
  justify-content: right;
}
.drop-btn {
  position: relative;
  margin-top: 10px;
  text-align: right;
}
.drop-btn svg {
  width: 30px;
  fill: #ffffff;
  cursor: pointer;
}

nav .menu-wrapper {
  position: fixed;
  top: 130px;
  left: 0;
  bottom: -1px;
  display: none;
  width: fit-content;
  overflow-y: auto;
  background-color: indigo;
  /* background: #242526; */
  border-radius: 0 40px 40px 0;
  z-index: 999;
}

nav .menu-wrapper.show {
  display: flex;
}

nav .menu-wrapper .children-drops {
  display: none;
}
nav .menu-wrapper ul {
  list-style: none;
  width: 400px;
  padding: 10px;
  transition: all 0.3s ease;
}

nav .menu-wrapper ul li {
  line-height: 55px;
}

nav .menu-wrapper ul li a {
  position: relative;
  text-decoration: none;
  color: #b0b3b8;
  display: flex;
  font-size: 18px;
  padding: 0 10px;
  align-items: center;
  border-radius: 8px;
  outline: none;
}

nav .menu-wrapper ul li:hover a {
  background: #3a3b3c;
}

.menu-wrapper ul li a .icon {
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.menu-wrapper ul li a .icon svg {
  width: 20px;
}

.menu-wrapper ul li a i {
  position: absolute;
  right: 15px;
  font-size: 25px;
  pointer-events: none;
}

.menu-wrapper ul .arrow {
  padding-left: 10px;
  font-size: 20px;
  color: #b0b3b8;
  font-weight: 500;
  cursor: pointer;
}

.menu-wrapper ul .arrow span {
  margin-right: 15px;
}

.menu-wrapper ul li:last-child {
  padding: 0 0 200px 0;
}

/* ==================== */

div#navbar {
  padding-bottom: 15px;
}
/* ====== Menu Toggle Icon =======*/

.drop-btn .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.drop-btn .toggle span {
  position: absolute;
  width: 25px;
  height: 5px;
  background: #000000;
  border-radius: 4px;
  transition: 0.2s;
}

.drop-btn .toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 25px;
}

.drop-btn .toggle.active span:nth-child(1) {
  width: 25px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0s;
}

.drop-btn .toggle span:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
}
.drop-btn .toggle.active span:nth-child(2) {
  width: 25px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.1s;
}
.drop-btn .toggle.active span:nth-child(3) {
  transform: translateX(60px);
}
